<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img alt="800x300" src="/images/tu.jpg" />
            <h2 align="center">汽车维护维修管理系统</h2>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/materin">进货管理</a>
                </li>
                <li>
                    <a href="/materout">库存管理</a>
                </li>
                <li>
                    <a href="/product">服务管理</a>
                </li>
                <li>
                    <a href="/order">订单管理</a>
                </li>
                <li>
                    <a href="/user">用户管理</a>
                </li>
                <li>
                    <a href="/vip">会员管理</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">设置栏目</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">更多设置</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">分割线</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>