<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>书籍管理</title>
</head>

<body>
<div th:include="bar"></div>
<div class="contentDiv">


    <legend>
        <strong>新增管理</strong>
    </legend>

    <form th:action="@{/materin/{action}(action=${action})}" method="post" class="form-horizontal">

        <input type="hidden" name="myMsg" th:value="${myMsg}"/>

        <input type="hidden" name="id" th:value="${mater.mid}"/>
        <input type="hidden" name="mtime" th:value="${mater.mtime}"/>

        <div class="form-group">
            <label for="user_name" class="col-sm-2 control-label">零件名:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="user_name" name="name" th:value="${mater.mname}"
                       th:field="*{mater.mname}"/>
            </div>
        </div>



        <div class="form-group">
            <label for="user_phone" class="col-sm-2 control-label">零件价格:</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="user_phone" rows="3" name="introduction"
                          th:value="${mater.mprice}" th:field="*{mater.mprice}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="user_pwd" class="col-sm-2 control-label">零件数量:</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="user_pwd" rows="3" name="introduction"
                          th:value="${mater.mnum}" th:field="*{mater.mnum}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                <input class="btn" type="button" value="返回" onclick="history.back()"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>